<main>
  <table>
    <thead>
      <tr>
        <th data-prop="name">Name</th>
        <th data-prop="quantity" colspan="2">Quantity</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <p><a href="#">Delete all</a></p>

  <form action="" method="post">
    <fieldset>
      <dl>
        <dt><label for="name">Name</label></dt>
        <dd><input type="text" name="name" /></dd>
        <dt><label for="quantity">Quantity</label></dt>
        <dd><input type="text" name="quantity" /></dd>
      </dl>
      <input type="submit" value="Add Item" />
    </fieldset>
  </form>
</main>
